body {
  background: url('https://cdna.artstation.com/p/assets/images/images/017/663/256/original/anastasia-kozheko-snow.gif?1556866810')no-repeat center center/cover;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}