body {
  background: url('https://cdna.artstation.com/p/assets/images/images/017/663/256/original/anastasia-kozheko-snow.gif?1556866810')no-repeat center center/cover;
  height: 100vh;
}
h1, h2, h3, h4, h5, h6 { margin: 0 0 0 0;}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weather_box {
  width: 90%;
  max-width: 650px;
  background: rgba(255, 255, 255, .5);
  border-radius: 20px;
  padding: 50px 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, .1);
  border: 5px solid #fff;
  text-align: center;
}

.button_box {
  text-align: center;
}
.button_box .btn {
  margin: 0 5px;
  border-radius: 30px;
}